$font-face: "Helvetica Neue",Arial,Helvetica,sans-serif;
$bg-color: #0079bf;


body {
    background: $bg-color;
}

input {
    outline: none;
}

#lists {
  width: 999999999px;

  .list-wrapper {
      width: 300px;
      height: 100%;
      float: left;
      color: #4d4d4d;
      font: 14px $font-face;
      line-height: 18px;
  }

  .list {
      border-radius: 4px;
      background: #eee;
      padding: 5px;
      margin: 10px;

      input {
        width: 270px;
        padding: 4px;
      }
  }

  .list-title {
      border: none;
      font-size: 18px;
      background: none;
      color: #333;
  }

  .card input{
      width: 248px;
      margin: 3px;
      border-radius: 4px;
      border: 1px solid #ddd;
      padding: 7px;
      font-size: 14px;
  }

  .add-list-wrapper .list {
      border: none;
      border-radius: 4px;
      color: #8c8c8c;
      padding: 0;
      background: none;
  }

  .add-list-wrapper input {
      outline: none;
      border: none;
      border-radius: 4px;
      font-size: 18px;
      color: #b3d3e5;
      background: #006aa8;
      cursor: pointer;
      padding: 9px;

      &:hover {
        background: #025788;
      }
  }

  .add-card {
      border: none;
      font-size: 16px;
      background: none;
      width: 300px;
      color: #478bd0;
      background: #cfdae4;
      text-align: left;
      margin-top: 10px;

      &:hover {
          background: #ddd;
      }
  }
}
